{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{%block content %}

<div class="dashboard-content">
  <div class="welcome-banner">

    <div>

        <h2>
            Welcome,
            {{ request.user.username }} 👋
        </h2>

        <p>
            Customer Segmentation  Dashboard
        </p>

    </div>

    <div class="live-time">

        <h4 id="clock"></h4>

    </div>

</div>
  <!-- ==================================== -->
  <div class="row mb-4">
    <div class="col-md-4">
      <input
        type="text"
        id="customerSearch"
        class="form-control"
        placeholder="Search Customer ID, Gender..."
      />
    </div>
    <div class="col-md-6 export-section">

    <a href="{% url 'download_csv' %}" class="export-btn csv-btn">
        <i class="fa-solid fa-file-csv"></i>
        <span>Export CSV</span>
    </a>

    <a href="{% url 'download_excel' %}" class="export-btn excel-btn">
        <i class="fa-solid fa-file-excel"></i>
        <span>Export Excel</span>
    </a>

    <a href="{% url 'download_pdf' %}" class="export-btn pdf-btn">
        <i class="fa-solid fa-file-pdf"></i>
        <span>Export PDF</span>
    </a>

</div>
  </div>
  <!-- ================= -->
  <div class="filter-card">
    <form method="GET">
      <div class="row">
        <div class="col-md-3">
          <label class="form-label">Gender</label>

          <select name="gender" class="form-select">
            <option value="">All</option>

            <option
              value="Male"
              {%
              if
              request.GET.gender=""
              ="Male"
              %}selected{%
              endif
              %}
            >
              Male
            </option>

            <option
              value="Female"
              {%
              if
              request.GET.gender=""
              ="Female"
              %}selected{%
              endif
              %}
            >
              Female
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label class="form-label">Minimum Income</label>

          <input
            type="number"
            name="income"
            class="form-control"
            value="{{ request.GET.income }}"
            placeholder="e.g. 40"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">Minimum Spending</label>

          <input
            type="number"
            name="spending"
            class="form-control"
            value="{{ request.GET.spending }}"
            placeholder="e.g. 50"
          />
        </div>

        <div class="col-md-3 d-flex align-items-end">
          <button class="btn btn-primary w-100">Apply Filters</button>
        </div>
      </div>
    </form>
  </div>
  <!-- ==================================== -->
  {% if error %}

  <div class="alert alert-warning">{{ error }}</div>

  {% endif %}
  <div class="row mt-4">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card blue">
        <div>
          <h3>{{ total_customers }}</h3>

          <p>Total Customers</p>
        </div>

        <i class="fa-solid fa-users"></i>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card green">
        <div>
          <h3>{{ average_income }} K$</h3>

          <p>Average Income</p>
        </div>

        <i class="fa-solid fa-wallet"></i>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card orange">
        <div>
          <h3>{{ average_spending }}</h3>

          <p>Spending Score</p>
        </div>

        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="dashboard-card purple">
        <div>
          <h3>4</h3>

          <p>Segments</p>
        </div>

        <i class="fa-solid fa-chart-pie"></i>
      </div>
    </div>
  </div>
  <!-- ========== -->
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card-box">
        <h4>{{ rows }}</h4>
        <p>Total Rows</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-box">
        <h4>{{ columns }}</h4>
        <p>Total Columns</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-box">
        <h4>{{ missing_values }}</h4>
        <p>Missing Values</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-box">
        <h4>{{ duplicate_records }}</h4>
        <p>Duplicate Records</p>
      </div>
    </div>
  </div>
  <!-- ========== -->
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="chart-card">{{ income_chart|safe }}</div>
    </div>

    <div class="col-lg-6">
      <div class="chart-card">{{ spending_chart|safe }}</div>
    </div>
  </div>
  <!-- === -->
  <div class="table-card mt-4">
    <h3 class="mb-4">Customer Information</h3>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>

            <th>Gender</th>

            <th>Age</th>

            <th>Income</th>

            <th>Spending</th>

            <th>Cluster</th>
          </tr>
        </thead>

        <tbody>
          {% for customer in customers %}

          <tr>
            <td>{{ customer.CustomerID }}</td>
            <td>{{ customer.Gender }}</td>
            <td>{{ customer.Age }}</td>
            <td>{{ customer.Annual_Income }}</td>
            <td>{{ customer.Spending_Score }}</td>

            <td>
              <span class="badge bg-primary"> {{ customer.Cluster }} </span>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- ============= -->

  <!-- ============= -->
</div>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
