body{
    background:linear-gradient(135deg,#2563EB,#4F46E5);
}

.auth-section{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.auth-card{
    width:100%;
    max-width:420px;
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.auth-title{
    text-align:center;
    font-size:32px;
    font-weight:700;
    margin-bottom:10px;
}

.auth-subtitle{
    text-align:center;
    color:#64748B;
    margin-bottom:30px;
}

.form-control{
    height:50px;
    border-radius:10px;
}

.btn-auth{
    width:100%;
    height:50px;
    background:#2563EB;
    color:#fff;
    border:none;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.btn-auth:hover{
    background:#1D4ED8;
}

.auth-footer{
    text-align:center;
    margin-top:20px;
}