:root{

    --primary:#2563EB;

    --secondary:#4F46E5;

    --accent:#06B6D4;

    --success:#10B981;

    --danger:#EF4444;

    --dark:#0F172A;

    --light:#F8FAFC;

    --white:#ffffff;

    --text:#334155;

    --radius:14px;

    --transition:.3s ease;

}