<div class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-chart-line"></i>

    <span>CustomerSeg</span>
  </div>

  <ul>
    <li class="active">
      <a href="{% url 'dashboard' %}">
        <i class="fa-solid fa-house"></i>
        Dashboard
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-users"></i>
        Customers
      </a>
    </li>

    <li>
      <a href="{% url 'analytics' %}">
        <i class="fa-solid fa-chart-column"></i>
        Analytics
      </a>
    </li>

    <li>
      <a href="{% url 'clustering' %}">
        <i class="fa-solid fa-brain"></i>
        Clustering
      </a>
    </li>
    
    <li>
      <a href="{% url 'elbow' %}">
        <i class="fa-solid fa-chart-line"></i>
        Elbow Method
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-file-lines"></i>
        Reports
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-gear"></i>
        Settings
      </a>
    </li>

    <li>
      <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
